{% load static %}
{% block content %}
<footer class="footer-container typefooter-1">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="module social_block col-md-3 col-sm-12 col-xs-12">
                            <ul class="social-block ">
                                <li class="facebook"><a class="_blank" href="https://www.facebook.com/MagenTech"
                                                        target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a class="_blank" href="https://twitter.com/smartaddons"
                                                       target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="rss"><a class="_blank" href="#" target="_blank"><i class="fa fa-rss"></i></a>
                                </li>
                                <li class="google_plus"><a class="_blank"
                                                           href="https://plus.google.com/u/0/+Smartaddons/posts"
                                                           target="_blank"><i class="fa  fa-google-plus"></i></a></li>
                                <li class="pinterest"><a class="_blank" href="https://www.pinterest.com/smartaddons/"
                                                         target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="module news-letter col-md-9 col-sm-12 col-xs-12">
                            <div class="newsletter">
                                <div class="title-block">
                                    <div class="page-heading">Haber Bültenimize Kayıt Ol</div>
                                    <div class="pre-text">
                                        İndirimleri kaçırmak isttemiyorsna hemen abone ol
                                    </div>
                                </div>
                                <div class="block_content">
                                    <form method="post" name="signup" id="signup" class="btn-group form-inline signup">
                                        <div class="form-group required send-mail">
                                            <div class="input-box">
                                                <input type="email" placeholder="Mail Adresiniz..." value=""
                                                       class="form-control" id="txtemail" name="txtemail" size="55">
                                            </div>
                                            <div class="subcribe">
                                                <button class="btn btn-default btn-lg" type="submit"
                                                        onclick="return subscribe_newsletter();" name="submit">
                                                    Abone Ol
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Center -->
        <div class="footer-center">
            <div class="container content">
                <div class="row">
                    <!-- Box Info -->
                    <div class="col-md-3 col-sm-6 col-xs-12 collapsed-block footer-links box-footer">
                        <div class="module ">
                            <div class="content-block-footer">
                                <div class="footer-logo">
                                    <a href="home3.html"><img class="lazyload" data-sizes="auto"
                                                              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                              data-src="{% static 'image/demo/logos/theme_logo.png' %}"
                                                              title="Your Store" alt="Your Store"/></a>
                                </div>
                                <p>On Binlerce Marka ve Milyonlarca Ürün, İndirim ve Fırsatlarla Dolu Musashop'da!
                                    Kupon Günlerine Özel Avantajlı Fiyatlar Seni Bekliyor. 7/24 Destek.
                                    Onaylanmış Mağazalar.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Box Accout -->
                    <div class="col-md-3 col-sm-6 box-account box-footer">
                        <div class="module clearfix">
                            <h3 class="modtitle">Hesabım</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="#">Sepetim</a></li>
                                    <li><a href="#">Kuponlarım</a></li>
                                    <li><a href="#">İade İşlemleri</a></li>
                                    <li><a href="#">Bakiye</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Box Infomation -->
                    <div class="col-md-3 col-sm-6 box-information box-footer">
                        <div class="module clearfix">
                            <h3 class="modtitle">Bilgilendirme</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
                                    <li><a href="#">Sıkça Sorulanlar</a></li>
                                    <li><a href="#">Fiyat Tablosu</a></li>
                                    <li><a href="#">Gizlilik Politikamız</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Box About -->
                    <div class="col-md-3  col-sm-6 collapsed-block box-footer">
                        <div class="module ">
                            <h3 class="modtitle">Hakkımızda</h3>
                            <div class="modcontent">
                                <ul class="contact-address">
                                    <li><span class="fa fa-home"></span> İstanbul, 34 Pendik</li>
                                    <li><span class="fa fa-envelope"></span> Email: <a href="#">
                                        Musa@store.com</a></li>
                                    <li><span class="fa fa-phone">&nbsp;</span> Telefon 1: 054531353</li>
                                </ul>
                                <ul class="payment-method">
                                    <li><a title="Payment Method" href="#"><img class="lazyload" data-sizes="auto"
                                                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                data-src="{% static 'image/demo/cms/payment/payment-1.png' %}"
                                                                                alt="Payment"></a></li>
                                    <li><a title="Payment Method" href="#"><img class="lazyload" data-sizes="auto"
                                                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                data-src="{% static 'image/demo/cms/payment/payment-2.png' %}"
                                                                                alt="Payment"></a></li>
                                    <li><a title="Payment Method" href="#"><img class="lazyload" data-sizes="auto"
                                                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                data-src="{% static 'image/demo/cms/payment/payment-3.png' %}"
                                                                                alt="Payment"></a></li>
                                    <li><a title="Payment Method" href="#"><img class="lazyload" data-sizes="auto"
                                                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                data-src="{% static 'image/demo/cms/payment/payment-4.png' %}"
                                                                                alt="Payment"></a></li>
                                    <li><a title="Payment Method" href="#"><img class="lazyload" data-sizes="auto"
                                                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                data-src="{% static 'image/demo/cms/payment/payment-5.png' %}"
                                                                                alt="Payment"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER BOTTOM -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        Musashop © 2022 - 2023. tüm Hakları Saklıdır.
                    </div>
                    <div class="back-to-top"><i class="fa fa-angle-up"></i><span> Yukarı </span></div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}