{% load static %}
<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>

    <!-- Basic page needs
	============================================ -->
    <title>Musashop - İstek Listesi</title>
    <meta charset="utf-8">
    <meta name="keywords"
          content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business"/>
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow"/>

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->

    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">

    <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900' rel='stylesheet'
          type='text/css'>

    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/themecss/lib.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
    <link href="{% static 'css/themecss/so-categories.css' %}" rel="stylesheet">
    <link href="{% static 'css/themecss/so-listing-tabs.css' %}" rel="stylesheet">

    <link id="color_scheme" href="{% static 'css/theme.css' %}" rel="stylesheet">

    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">


</head>

<body class="res layout-subpage">
<div id="wrapper" class="wrapper-full ">
    <!-- Header Container  -->
    {% include 'partials/_header2.html' %}
    <!-- //Header Container  -->
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'home' %}">Anasayfa</a></li>
            <li><a href="{% url 'istek_listesi' %}">İstek Listesi</a></li>
        </ul>

        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h2 class="title">İstek Listesi</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-center">Resim</td>
                            <td class="text-left">Ürün Adı</td>
                            <td class="text-left">Model</td>
                            <td class="text-right">Stok Durumu</td>
                            <td class="text-right">Birim Fiyatı</td>
                            <td class="text-right">Eylem</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">
                                <a href="product.html"><img width="70px" src="{% static 'image/demo/shop/product/18.jpg' %}"
                                                            alt="Aspire Ultrabook Laptop"
                                                            title="Aspire Ultrabook Laptop">
                                </a>
                            </td>
                            <td class="text-left"><a href="product.html">iPad Classic</a>
                            </td>
                            <td class="text-left">10</td>
                            <td class="text-right">Stokta</td>
                            <td class="text-right">
                                <div class="price"> 109.21€</div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-primary"
                                        title="" data-toggle="tooltip"
                                        onclick="cart.add('48');"
                                        type="button" data-original-title="Add to Cart"><i
                                        class="fa fa-shopping-cart"></i>
                                </button>
                                <a class="btn btn-danger" title="" data-toggle="tooltip"
                                   href="http://localhost/2.2.0.0-compiled/index.html?route=account/wishlist&amp;remove=48"
                                   data-original-title="Remove"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="product.html"><img width="70px" src="{% static 'image/demo/shop/product/e1.jpg' %}"
                                                            alt="Xitefun Causal Wear Fancy Shoes"
                                                            title="Xitefun Causal Wear Fancy Shoes"></a>
                            </td>
                            <td class="text-left"><a href="product.html">Samsung Galaxy Tab 10.1</a>
                            </td>
                            <td class="text-left">SAM1</td>
                            <td class="text-right">Gümrükte</td>
                            <td class="text-right">
                                <div class="price"> 216.63€</div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-primary"
                                        title="" data-toggle="tooltip"
                                        onclick="" type="button"
                                        data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i>
                                </button>
                                <a class="btn btn-danger" title="" data-toggle="tooltip"
                                   href="#" data-original-title="Remove"><i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Middle Part End-->

        </div>
    </div>
    <!-- //Main Container -->
    <!-- Footer Container -->
    {% include 'partials/_footer.html' %}
    <!-- //end Footer Container -->
</div>


<!-- Preloading Screen -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloading Screen -->

<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/libs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/unveil/jquery.unveil.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>


<!-- Theme files
============================================ -->


<script type="text/javascript" src="{% static 'js/themejs/so_megamenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/addtocart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/application.js' %}"></script>
</body>

</html>